header {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  position: relative;
}
header nav .menu {
  width: 100%;
  max-width: 1480px;
  margin: 0 auto;
  padding: 16px;
}
header nav .menu ul {
  width: 100%;
  background: rgba(0, 0, 0, 0);
  color: white;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
header nav .menu ul li {
  font-size: 14px;
}
header nav .menu ul li:hover {
  color: var(--primary);
  cursor: pointer;
}
header nav .menu ul li:nth-child(5) {
  flex-grow: 2;
  display: flex;
  justify-content: center;
}
header nav .menu ul li .iconWarper {
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav .menu ul .coustomPc {
  position: relative;
}
header nav .menu ul .coustomPc .submenu {
  display: none;
  position: absolute;
  top: 20px;
  left: 0;
  width: -moz-max-content;
  width: max-content;
  padding: 10px;
  z-index: 888;
}
header nav .menu ul .coustomPc .submenu ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
  background-color: transparent;
}
header nav .menu ul .coustomPc .submenu ul li {
  text-align: left;
}
header nav .menu ul .coustomPc:hover .submenu {
  display: block;
}
header nav .menu ul .company {
  position: relative;
}
header nav .menu ul .company .companySubmenu {
  display: none;
  position: absolute;
  top: 20px;
  left: 0;
  width: -moz-max-content;
  width: max-content;
  padding: 10px;
  z-index: 888;
}
header nav .menu ul .company .companySubmenu ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
  background-color: transparent;
}
header nav .menu ul .company .companySubmenu ul li {
  text-align: left;
}
header nav .menu ul .company:hover .companySubmenu {
  display: block;
}
header nav .smMenu {
  display: none;
}
header nav .asideMenu {
  position: fixed;
  width: 300px;
  height: -moz-max-content;
  height: max-content;
  overflow-y: scroll;
  top: 0;
  left: 0;
  background-color: #000;
  z-index: 9999;
  display: none;
  padding: 50px 20px 0 20px;
}
header nav .asideMenu .closeBtn {
  position: absolute;
  top: 20px;
  right: 0;
}
header nav .asideMenu ul {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 20px;
}
header nav .asideMenu ul li a {
  color: var(--alabaster);
}
header nav .asideMenu ul li a:hover {
  color: var(--primary);
}

#Banner_section {
  width: 100%;
  height: 100vh;
  font-family: Arial, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}
#Banner_section .swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
#Banner_section .swiper .swiper-wrapper .swiper-slide {
  width: 100%;
  height: 100%;
  padding-top: 100px;
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Banner_section .swiper .swiper-wrapper .swiper-slide .innerSlide {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  padding-left: 50px;
  display: flex;
  align-items: center;
}
#Banner_section .swiper .swiper-wrapper .swiper-slide .innerSlide .bannerText {
  width: 60%;
}
#Banner_section .swiper .swiper-wrapper .swiper-slide .innerSlide .bannerText h1 {
  font-size: 10.5vw;
  text-align: left;
  line-height: 1;
  text-transform: uppercase;
  color: var(--primary);
  font-family: Bebas Neue;
  max-width: 100%;
  letter-spacing: 5px;
}
#Banner_section .swiper .swiper-wrapper .swiper-slide .innerSlide .bannerText h1 span {
  font-family: Bebas Neue;
  color: var(--alabaster);
}
#Banner_section .swiper .swiper-wrapper .swiper-slide .innerSlide .bannerText .btnwarpper {
  width: 40%;
  margin-top: 30px;
}
#Banner_section .swiper .swiper-wrapper .swiper-slide .innerSlide .bannerText .btnwarpper button {
  font-size: 34px;
  cursor: pointer;
  background-color: #25AC94;
  border: 2px solid green;
}
#Banner_section .swiper .swiper-wrapper .swiper-slide .innerSlide .bannerText .btnwarpper button:hover {
  background-color: var(--primary);
}
#Banner_section .swiper .swiper-wrapper .swiper-slide .innerSlide .bannerImage {
  width: 40%;
  height: 100%;
}
#Banner_section .swiper .swiper-wrapper .swiper-slide .innerSlide .bannerImage img {
  width: 100%;
  max-width: -moz-max-content;
  max-width: max-content;
  height: 100%;
  -o-object-fit: initial;
     object-fit: initial;
}
#Banner_section .swiper .slide1 {
  background-color: #000099;
  background-image: url("../image/bg1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#Banner_section .swiper .slide2 {
  background: linear-gradient(rgba(0, 0, 0, 0.631372549), rgba(0, 0, 0, 0.5960784314)), url("../image/ng3.png") center/cover no-repeat;
}
#Banner_section .swiper .slide3 {
  background-color: #000099;
  background: rgb(255, 255, 255);
  background: rgb(0, 69, 49);
  background: linear-gradient(204deg, #004531 0%, #00073c 59%, #7e00ab 100%);
  background-image: url("../image/bg4.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.test_warpper {
  width: 100%;
  height: 100%;
  padding: 4%;
  background-color: #236bd8;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.test_warpper .itemcard {
  width: 300px;
  height: -moz-max-content;
  height: max-content;
  padding: 10px;
  border: 1px solid gray;
}
.test_warpper .itemcard .productImage {
  width: 100%;
  height: 220px;
  background-color: white;
}
.test_warpper .itemcard .productImage img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.test_warpper .itemcard .product_title {
  width: 100%;
  height: 60px;
  background-color: #6969ee;
}
.test_warpper .itemcard .product_category {
  width: 100%;
  height: 40px;
  background-color: #255744;
}
.test_warpper .itemcard .productPrice {
  width: 100%;
  border: #5757f1;
  display: flex;
}
.test_warpper .itemcard .productPrice .old_price {
  width: 100%;
  height: 40px;
  background-color: #df0239;
}
.test_warpper .itemcard .productPrice .new_price {
  width: 100%;
  height: 40px;
  background-color: #f7557e;
}

.swiper-pagination {
  position: absolute !important;
  top: 0;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: var(--alabaster);
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: var(--primary);
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--primary);
}

.myCustompegination {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
}

#buildOverview {
  position: relative;
  padding: 50px 0px;
  background-color: var(--gray3);
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  color: var(--alabaster);
}
#buildOverview #component_modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #000;
  z-index: 9999;
}
#buildOverview #component_modal .cancel {
  background-color: red;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
#buildOverview .partsHeader {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  background-color: var(--gray2);
}
#buildOverview .partsHeader h3 {
  font-size: 36px;
  font-family: var(--BebasNeue);
  color: var(--alabaster);
  text-align: center;
}
#buildOverview .partsHeader .navNtab {
  width: 100%;
}
#buildOverview .partsHeader .navNtab ol {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 0;
  align-items: center;
  justify-content: center;
}
#buildOverview .partsHeader .navNtab ol li {
  margin: 0;
  padding: 0;
}
#buildOverview .partsHeader .navNtab ol li .tab-btn {
  padding: 10px 20px;
  border: none;
  background: var(--gray2);
  color: white;
  cursor: pointer;
}
#buildOverview .partsHeader .navNtab ol li .tab-btn.active {
  background: var(--gray3);
}
#buildOverview .container {
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
}
#buildOverview .container .productControler {
  width: 100%;
  margin-top: 50px;
  padding-top: 10px;
  background-color: var(--gray2);
  border-radius: 10px;
}
#buildOverview .container .productControler .urlWarpper .urlbox {
  width: 98%;
  margin: 0 auto;
  background-color: var(--gray3);
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 5px;
  padding-top: 8px;
  gap: 15px;
}
#buildOverview .container .productControler .urlWarpper .urlbox input {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--alabaster);
  padding-bottom: 5px;
  color: var(--primary);
}
#buildOverview .container .productControler .urlWarpper .markUpbox {
  width: 100%;
  padding: 10px;
  display: flex;
}
#buildOverview .container .productControler .urlWarpper .markUpbox .markUpIcon {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
#buildOverview .container .productControler .urlWarpper .markUpbox .markUpIcon span {
  cursor: pointer;
}
#buildOverview .container .productControler .urlWarpper .markUpbox .markupBtn {
  width: 50%;
  display: flex;
  gap: 20px;
}
#buildOverview .container .productControler .urlWarpper .markUpbox .markupBtn .divASbtn {
  width: -moz-max-content;
  width: max-content;
  border: 1px solid var(--gray3);
  padding: 5px 10px;
  display: flex;
  gap: 10px;
}
#buildOverview .container .productControler .urlWarpper .markUpbox .markupBtn .divASbtn:hover {
  cursor: pointer;
  border: 1px solid var(--primary);
}
#buildOverview .container .productControler .urlWarpper .markUpbox .markupBtn .divASbtn:hover :nth-child(2) {
  color: var(--primary);
  text-decoration: underline;
}
#buildOverview .container .productControler .CompitibleNotes {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  overflow: hidden;
}
#buildOverview .container .productControler .CompitibleNotes .greenSection {
  width: 100%;
  background-color: var(--primary);
  display: flex;
  padding: 10px;
  gap: 15px;
}
#buildOverview .container .productControler .CompitibleNotes .skySection {
  width: 100%;
  background-color: #236bd8;
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  padding: 5px 15px;
}
#buildOverview .container .productControler .CompitibleNotes .skySection a {
  color: var(--alabaster);
}
#buildOverview .container .productControler .CompitibleNotes .skySection a:hover {
  color: var(--primary);
  text-decoration: underline;
}
#buildOverview .container .tab_Content_Warpper .tab-content {
  display: none;
  padding: 20px;
  width: 100%;
}
#buildOverview .container .tab_Content_Warpper .tab-content .cardWarpper {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
#buildOverview .container .tab_Content_Warpper .tab-content .cardWarpper .row {
  width: 100%;
  display: flex;
  gap: 20px;
  border-bottom: 1px solid gray;
}
#buildOverview .container .tab_Content_Warpper .tab-content .cardWarpper .row .card {
  width: 20%;
  padding: 10px 0;
  flex: 1;
}
#buildOverview .container .tab_Content_Warpper .tab-content .cardWarpper .row .card .rowHeading {
  font-size: 14px;
  font-weight: 300;
  color: gray;
}
#buildOverview .container .tab_Content_Warpper .tab-content .cardWarpper .row .card .componentName {
  font-size: 16px;
  font-weight: 800;
  color: var(--primary);
}
#buildOverview .container .tab_Content_Warpper .tab-content .cardWarpper .row .card .selectionBTN {
  padding: 0 10px 5px 10px;
  border-radius: 5px;
  background-color: var(--edward);
  color: #fff;
}
#buildOverview .container .tab_Content_Warpper .tab-content .cardWarpper .row .card .selectionBTN:hover {
  background-color: var(--primary);
  color: var(--alabaster);
}
#buildOverview .container .tab_Content_Warpper .tab-content .cardWarpper .row .selection {
  flex-grow: 3;
}
#buildOverview .container .tab_Content_Warpper .tab-content .cardWarpper .row:nth-child(2) {
  flex-grow: 1;
}
#buildOverview .container .tab_Content_Warpper .tab-content .cardWarpper .componentCard {
  width: 250px;
  height: 250px;
  border: 1px solid gray;
  background-color: rgba(3, 173, 125, 0.1921568627);
  border-radius: 10px;
  transition: 0.3s all linear;
  cursor: pointer;
}
#buildOverview .container .tab_Content_Warpper .tab-content .cardWarpper .componentCard:hover {
  background-color: rgba(5, 255, 184, 0.5215686275);
}
#buildOverview .container .tab_Content_Warpper .tab-content .cardContiner {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
#buildOverview .container .tab_Content_Warpper .tab-content .cardContiner .componentCard {
  width: -moz-max-content;
  width: max-content;
  border: 1px solid #25AC94;
  background-image: url("../image/cardBg.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 40% 60%;
  border-radius: 10px;
  transition: 0.3s all linear;
  border-radius: 5px;
  cursor: pointer;
  padding: 35px 25px;
  text-align: center;
}
#buildOverview .container .tab_Content_Warpper .tab-content .cardContiner .componentCard:hover {
  background-color: rgba(5, 255, 184, 0.5215686275);
}
#buildOverview .container .tab_Content_Warpper .tab-content .cardContiner .componentCard h3 {
  font-size: 36px;
  font-family: var(--BebasNeue);
}
#buildOverview .container .tab_Content_Warpper .tab-content .cardContiner .componentCard h5 {
  font-size: 20px;
}
#buildOverview .container .tab_Content_Warpper .tab-content .cardContiner .componentCard .editBox {
  margin-top: 10px;
}
#buildOverview .container .tab_Content_Warpper .tab-content.active {
  display: block;
}

#exploreProducts {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  padding: 50px 10px;
  background-image: url("../image/productSlideBG.webp");
  background-size: cover;
  background-position: center;
}
#exploreProducts .productContainer {
  width: 100%;
  max-width: 1480px;
  margin: 0 auto;
}
#exploreProducts .productContainer .productHeading h2 {
  font-size: 7.5vw;
  text-align: left;
  line-height: 1;
  text-transform: uppercase;
  color: white;
  font-family: Bebas Neue;
}
#exploreProducts .productContainer .productHeading h2 span {
  color: red;
}
#exploreProducts .productContainer .mySwiper2 #productCardWarpper .product-card {
  width: 22%;
  padding: 5px;
  background-color: #007aff;
}
#exploreProducts .productContainer .mySwiper2 #productCardWarpper .product-card .product-image {
  width: 100%;
  min-width: 100%;
  height: 250px;
  min-height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid red;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 480px) {
  header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }
  header nav .menu {
    display: none;
  }
  header nav .smMenu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header nav .smMenu span {
    cursor: pointer;
  }
  #Banner_section .swiper .swiper-wrapper .swiper-slide {
    padding: 10px;
  }
  #Banner_section .swiper .swiper-wrapper .swiper-slide .innerSlide {
    width: 100%;
    height: -moz-max-content;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    padding-top: 50px;
  }
  #Banner_section .swiper .swiper-wrapper .swiper-slide .innerSlide .bannerText {
    width: 100%;
    order: 2;
  }
  #Banner_section .swiper .swiper-wrapper .swiper-slide .innerSlide .bannerText h1 {
    font-size: 18vw;
    text-align: center;
    line-height: 1;
    text-transform: uppercase;
    color: var(--primary);
    font-family: Bebas Neue;
    max-width: 100%;
    letter-spacing: 5px;
  }
  #Banner_section .swiper .swiper-wrapper .swiper-slide .innerSlide .bannerText h1 span {
    font-family: Bebas Neue;
    color: var(--alabaster);
  }
  #Banner_section .swiper .swiper-wrapper .swiper-slide .innerSlide .bannerText .btnwarpper {
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
  }
  #Banner_section .swiper .swiper-wrapper .swiper-slide .innerSlide .bannerText .btnwarpper button {
    font-size: 26px;
    padding: 8px;
  }
  #Banner_section .swiper .swiper-wrapper .swiper-slide .innerSlide .bannerImage {
    width: 40%;
    height: 100%;
    order: 1;
  }
  #Banner_section .swiper .swiper-wrapper .swiper-slide .innerSlide .bannerImage img {
    width: 100%;
    max-width: -moz-max-content;
    max-width: max-content;
    height: 100%;
    -o-object-fit: initial;
       object-fit: initial;
  }
  #buildOverview {
    padding: 50px 0px;
    background-color: var(--gray3);
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    color: var(--alabaster);
  }
  #buildOverview .partsHeader {
    width: 100%;
    height: -moz-max-content;
    height: max-content;
    background-color: var(--gray2);
  }
  #buildOverview .partsHeader h3 {
    font-size: 36px;
    font-family: var(--BebasNeue);
    color: var(--alabaster);
    text-align: center;
  }
  #buildOverview .partsHeader .navNtab {
    width: 100%;
  }
  #buildOverview .partsHeader .navNtab ol {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    align-items: center;
    justify-content: center;
  }
  #buildOverview .partsHeader .navNtab ol li {
    margin: 0;
    padding: 0;
  }
  #buildOverview .partsHeader .navNtab ol li .tab-btn {
    padding: 10px 20px;
    border: none;
    background: var(--gray2);
    color: white;
    cursor: pointer;
  }
  #buildOverview .partsHeader .navNtab ol li .tab-btn.active {
    background: var(--gray3);
  }
  #buildOverview .container {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
  }
  #buildOverview .container .productControler {
    width: 100%;
    margin-top: 30px;
    padding-top: 15px;
    background-color: var(--gray2);
    border-radius: 10px;
  }
  #buildOverview .container .productControler .urlWarpper {
    width: 98%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 10px;
  }
  #buildOverview .container .productControler .urlWarpper .urlbox {
    width: 100%;
    padding: 10px;
    padding-left: 10px;
  }
  #buildOverview .container .productControler .urlWarpper .urlbox input {
    width: 100%;
    padding: 0;
  }
  #buildOverview .container .productControler .urlWarpper .markUpbox {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  #buildOverview .container .productControler .urlWarpper .markUpbox .markUpIcon {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  #buildOverview .container .productControler .urlWarpper .markUpbox .markUpIcon span {
    cursor: pointer;
  }
  #buildOverview .container .productControler .urlWarpper .markUpbox .markupBtn {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
  }
  #buildOverview .container .productControler .urlWarpper .markUpbox .markupBtn .divASbtn span {
    font-size: 12px;
  }
  #buildOverview .container .productControler .urlWarpper .markUpbox .markupBtn .divASbtn span svg {
    width: 20px;
    height: 20px;
  }
  #buildOverview .container .productControler .CompitibleNotes {
    display: flex;
    flex-direction: column;
  }
  #buildOverview .container .productControler .CompitibleNotes .greenSection {
    font-size: 14px;
    width: 100%;
    background-color: var(--primary);
    display: flex;
    padding: 5px 0 0 10px;
    gap: 15px;
  }
  #buildOverview .container .productControler .CompitibleNotes .skySection {
    font-size: 14px;
    width: 100%;
    background-color: #034cb8;
    display: flex;
    justify-content: flex-end;
    padding: 5px 10px 0 0;
    gap: 15px;
  }
  #buildOverview .container .productControler .CompitibleNotes .skySection a {
    color: var(--alabaster);
  }
  #buildOverview .container .tab_Content_Warpper .tab-content {
    display: none;
    padding: 20px;
    width: 100%;
  }
  #buildOverview .container .tab_Content_Warpper .tab-content .cardWarpper {
    display: flex;
    gap: 0;
    flex-wrap: wrap;
  }
  #buildOverview .container .tab_Content_Warpper .tab-content .cardWarpper .row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    border-bottom: 1px solid gray;
  }
  #buildOverview .container .tab_Content_Warpper .tab-content .cardWarpper .row .card {
    width: 20%;
    padding: 10px 0;
    flex: 1;
  }
  #buildOverview .container .tab_Content_Warpper .tab-content .cardWarpper .row .card .rowHeading {
    font-size: 14px;
    font-weight: 300;
    color: gray;
  }
  #buildOverview .container .tab_Content_Warpper .tab-content .cardWarpper .row .card .componentName {
    font-size: 16px;
    font-weight: 800;
    color: var(--primary);
  }
  #buildOverview .container .tab_Content_Warpper .tab-content .cardWarpper .row .card .selectionBTN {
    padding: 0 10px 5px 10px;
    border-radius: 5px;
    background-color: var(--edward);
    color: #fff;
  }
  #buildOverview .container .tab_Content_Warpper .tab-content .cardWarpper .row .card .selectionBTN:hover {
    background-color: var(--primary);
    color: var(--alabaster);
  }
  #buildOverview .container .tab_Content_Warpper .tab-content .cardWarpper .row .selection {
    flex-grow: 3;
  }
  #buildOverview .container .tab_Content_Warpper .tab-content .cardWarpper .row:nth-child(2) {
    flex-grow: 1;
  }
  #buildOverview .container .tab_Content_Warpper .tab-content .cardWarpper .componentCard {
    width: 250px;
    height: 250px;
    border: 1px solid gray;
    background-color: rgba(3, 173, 125, 0.1921568627);
    border-radius: 10px;
    transition: 0.3s all linear;
    cursor: pointer;
  }
  #buildOverview .container .tab_Content_Warpper .tab-content .cardWarpper .componentCard:hover {
    background-color: rgba(5, 255, 184, 0.5215686275);
  }
  #buildOverview .container .tab_Content_Warpper .tab-content.active {
    display: block;
  }
}
@media only screen and (max-width: 1022px) {
  header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }
  header nav .menu {
    display: none;
  }
  header nav .smMenu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header nav .smMenu span {
    cursor: pointer;
  }
}
@media only screen and (min-width: 480px) {
  #Banner_section .swiper .swiper-wrapper .swiper-slide {
    padding: 10px;
  }
  #Banner_section .swiper .swiper-wrapper .swiper-slide .innerSlide {
    width: 100%;
    height: -moz-max-content;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    padding-top: 50px;
  }
  #Banner_section .swiper .swiper-wrapper .swiper-slide .innerSlide .bannerText {
    width: 100%;
    order: 2;
  }
  #Banner_section .swiper .swiper-wrapper .swiper-slide .innerSlide .bannerText h1 {
    font-size: 16vw;
    text-align: center;
    line-height: 1;
    text-transform: uppercase;
    color: var(--primary);
    font-family: Bebas Neue;
    max-width: 100%;
    letter-spacing: 5px;
  }
  #Banner_section .swiper .swiper-wrapper .swiper-slide .innerSlide .bannerText h1 span {
    font-family: Bebas Neue;
    color: var(--alabaster);
  }
  #Banner_section .swiper .swiper-wrapper .swiper-slide .innerSlide .bannerText .btnwarpper {
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
  }
  #Banner_section .swiper .swiper-wrapper .swiper-slide .innerSlide .bannerText .btnwarpper button {
    font-size: 26px;
    padding: 8px;
  }
  #Banner_section .swiper .swiper-wrapper .swiper-slide .innerSlide .bannerImage {
    width: 40%;
    height: 100%;
    order: 1;
  }
  #Banner_section .swiper .swiper-wrapper .swiper-slide .innerSlide .bannerImage img {
    width: 100%;
    max-width: -moz-max-content;
    max-width: max-content;
    height: 100%;
    -o-object-fit: initial;
       object-fit: initial;
  }
  #buildOverview .container .productControler {
    width: 100%;
    margin-top: 30px;
    padding-top: 5px;
    background-color: var(--gray2);
    border-radius: 10px;
  }
  #buildOverview .container .productControler .urlWarpper {
    width: 98%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 10px;
  }
  #buildOverview .container .productControler .urlWarpper .urlbox {
    width: 100%;
    padding: 10px;
  }
  #buildOverview .container .productControler .urlWarpper .urlbox input {
    width: 100%;
    padding: 0;
  }
  #buildOverview .container .productControler .urlWarpper .markUpbox {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  #buildOverview .container .productControler .urlWarpper .markUpbox .markUpIcon {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  #buildOverview .container .productControler .urlWarpper .markUpbox .markUpIcon span {
    cursor: pointer;
  }
  #buildOverview .container .productControler .urlWarpper .markUpbox .markupBtn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  #buildOverview .container .productControler .urlWarpper .markUpbox .markupBtn .divASbtn span {
    font-size: 12px;
  }
  #buildOverview .container .productControler .urlWarpper .markUpbox .markupBtn .divASbtn span svg {
    width: 20px;
    height: 20px;
  }
  #buildOverview .container .productControler .CompitibleNotes {
    display: flex;
    flex-direction: column;
  }
  #buildOverview .container .productControler .CompitibleNotes .greenSection {
    width: 100%;
    background-color: green;
    display: flex;
    padding: 10px;
    gap: 15px;
  }
  #buildOverview .container .productControler .CompitibleNotes .skySection {
    width: 100%;
    background-color: #034cb8;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    gap: 15px;
  }
  #buildOverview .container .productControler .CompitibleNotes .skySection a {
    color: var(--alabaster);
  }
  #buildOverview .container .tab_Content_Warpper .tab-content {
    display: none;
    padding: 20px;
    width: 100%;
  }
  #buildOverview .container .tab_Content_Warpper .tab-content .cardWarpper {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }
  #buildOverview .container .tab_Content_Warpper .tab-content .cardWarpper .componentCard {
    width: 250px;
    height: 250px;
    border: 1px solid gray;
    background-color: rgba(3, 173, 125, 0.1921568627);
    border-radius: 10px;
    transition: 0.3s all linear;
    cursor: pointer;
  }
  #buildOverview .container .tab_Content_Warpper .tab-content .cardWarpper .componentCard:hover {
    background-color: rgba(5, 255, 184, 0.5215686275);
  }
  #buildOverview .container .tab_Content_Warpper .tab-content.active {
    display: block;
  }
}
@media only screen and (min-width: 576px) {
  #Banner_section .swiper .swiper-wrapper .swiper-slide {
    padding: 10px;
  }
  #Banner_section .swiper .swiper-wrapper .swiper-slide .innerSlide {
    width: 100%;
    height: -moz-max-content;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    padding-top: 50px;
  }
  #Banner_section .swiper .swiper-wrapper .swiper-slide .innerSlide .bannerText {
    width: 100%;
    order: 2;
  }
  #Banner_section .swiper .swiper-wrapper .swiper-slide .innerSlide .bannerText h1 {
    font-size: 18vw;
    text-align: center;
    line-height: 1;
    text-transform: uppercase;
    color: var(--primary);
    font-family: Bebas Neue;
    max-width: 100%;
    letter-spacing: 5px;
  }
  #Banner_section .swiper .swiper-wrapper .swiper-slide .innerSlide .bannerText h1 span {
    font-family: Bebas Neue;
    color: var(--alabaster);
  }
  #Banner_section .swiper .swiper-wrapper .swiper-slide .innerSlide .bannerText .btnwarpper {
    width: 100%;
    margin-top: 30px;
  }
  #Banner_section .swiper .swiper-wrapper .swiper-slide .innerSlide .bannerText .btnwarpper button {
    font-size: 34px;
  }
  #Banner_section .swiper .swiper-wrapper .swiper-slide .innerSlide .bannerImage {
    width: 40%;
    height: 100%;
    order: 1;
  }
  #Banner_section .swiper .swiper-wrapper .swiper-slide .innerSlide .bannerImage img {
    width: 100%;
    max-width: -moz-max-content;
    max-width: max-content;
    height: 100%;
    -o-object-fit: initial;
       object-fit: initial;
  }
}
@media only screen and (min-width: 768px) {
  #Banner_section .swiper .swiper-wrapper .swiper-slide {
    padding: 10px;
  }
  #Banner_section .swiper .swiper-wrapper .swiper-slide .innerSlide {
    width: 100%;
    height: -moz-max-content;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    padding-top: 50px;
  }
  #Banner_section .swiper .swiper-wrapper .swiper-slide .innerSlide .bannerText {
    width: 100%;
    order: 2;
  }
  #Banner_section .swiper .swiper-wrapper .swiper-slide .innerSlide .bannerText h1 {
    font-size: 18vw;
    text-align: center;
    line-height: 1;
    text-transform: uppercase;
    color: var(--primary);
    font-family: Bebas Neue;
    max-width: 100%;
    letter-spacing: 5px;
  }
  #Banner_section .swiper .swiper-wrapper .swiper-slide .innerSlide .bannerText h1 span {
    font-family: Bebas Neue;
    color: var(--alabaster);
  }
  #Banner_section .swiper .swiper-wrapper .swiper-slide .innerSlide .bannerText .btnwarpper {
    width: 100%;
    margin-top: 30px;
  }
  #Banner_section .swiper .swiper-wrapper .swiper-slide .innerSlide .bannerText .btnwarpper button {
    font-size: 34px;
  }
  #Banner_section .swiper .swiper-wrapper .swiper-slide .innerSlide .bannerImage {
    width: 40%;
    height: 100%;
    order: 1;
  }
  #Banner_section .swiper .swiper-wrapper .swiper-slide .innerSlide .bannerImage img {
    width: 100%;
    max-width: -moz-max-content;
    max-width: max-content;
    height: 100%;
    -o-object-fit: initial;
       object-fit: initial;
  }
  #buildOverview .container .productControler .urlWarpper .urlbox {
    width: 100%;
    padding: 10px;
  }
  #buildOverview .container .productControler .urlWarpper .urlbox input {
    width: 100%;
    padding: 0;
  }
  #buildOverview .container .productControler .urlWarpper .markUpbox {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 5px;
  }
  #buildOverview .container .productControler .urlWarpper .markUpbox .markUpIcon {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  #buildOverview .container .productControler .urlWarpper .markUpbox .markUpIcon span {
    cursor: pointer;
  }
  #buildOverview .container .productControler .urlWarpper .markUpbox .markupBtn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  #buildOverview .container .productControler .urlWarpper .markUpbox .markupBtn .divASbtn span {
    font-size: 12px;
  }
  #buildOverview .container .productControler .urlWarpper .markUpbox .markupBtn .divASbtn span svg {
    width: 20px;
    height: 20px;
  }
  #buildOverview .container .productControler .CompitibleNotes {
    display: flex;
    flex-direction: row;
  }
  #buildOverview .container .productControler .CompitibleNotes .greenSection {
    width: 60%;
    background-color: var(--primary);
    display: flex;
    padding: 5px 10px 0 5px;
    gap: 15px;
  }
  #buildOverview .container .productControler .CompitibleNotes .skySection {
    width: 40%;
    background-color: #034cb8;
    display: flex;
    justify-content: flex-end;
    padding: 5px 10px 0 5px;
    gap: 15px;
  }
  #buildOverview .container .productControler .CompitibleNotes .skySection a {
    color: var(--alabaster);
  }
}
@media only screen and (min-width: 922px) {
  #Banner_section .swiper .swiper-wrapper .swiper-slide {
    padding: 10px;
  }
  #Banner_section .swiper .swiper-wrapper .swiper-slide .innerSlide {
    width: 100%;
    height: -moz-max-content;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    padding-top: 50px;
  }
  #Banner_section .swiper .swiper-wrapper .swiper-slide .innerSlide .bannerText {
    width: 100%;
    order: 2;
  }
  #Banner_section .swiper .swiper-wrapper .swiper-slide .innerSlide .bannerText h1 {
    font-size: 18vw;
    text-align: center;
    line-height: 1;
    text-transform: uppercase;
    color: var(--primary);
    font-family: Bebas Neue;
    max-width: 100%;
    letter-spacing: 5px;
  }
  #Banner_section .swiper .swiper-wrapper .swiper-slide .innerSlide .bannerText h1 span {
    font-family: Bebas Neue;
    color: var(--alabaster);
  }
  #Banner_section .swiper .swiper-wrapper .swiper-slide .innerSlide .bannerText .btnwarpper {
    width: 100%;
    margin-top: 30px;
  }
  #Banner_section .swiper .swiper-wrapper .swiper-slide .innerSlide .bannerText .btnwarpper button {
    font-size: 34px;
  }
  #Banner_section .swiper .swiper-wrapper .swiper-slide .innerSlide .bannerImage {
    width: 40%;
    height: 100%;
    order: 1;
  }
  #Banner_section .swiper .swiper-wrapper .swiper-slide .innerSlide .bannerImage img {
    width: 100%;
    max-width: -moz-max-content;
    max-width: max-content;
    height: 100%;
    -o-object-fit: initial;
       object-fit: initial;
  }
}
@media only screen and (min-width: 1024px) {
  #Banner_section {
    width: 100%;
    height: 100vh;
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
  }
  #Banner_section .swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  #Banner_section .swiper .swiper-wrapper .swiper-slide {
    width: 100%;
    height: 100%;
    padding-top: 100px;
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #Banner_section .swiper .swiper-wrapper .swiper-slide .innerSlide {
    width: 100%;
    height: -moz-max-content;
    height: max-content;
    padding-left: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #Banner_section .swiper .swiper-wrapper .swiper-slide .innerSlide .bannerText {
    width: 60%;
    order: 1;
  }
  #Banner_section .swiper .swiper-wrapper .swiper-slide .innerSlide .bannerText h1 {
    font-size: 10.5vw;
    text-align: left;
    line-height: 1;
    text-transform: uppercase;
    color: var(--primary);
    font-family: Bebas Neue;
    max-width: 100%;
    letter-spacing: 5px;
  }
  #Banner_section .swiper .swiper-wrapper .swiper-slide .innerSlide .bannerText h1 span {
    font-family: Bebas Neue;
    color: var(--alabaster);
  }
  #Banner_section .swiper .swiper-wrapper .swiper-slide .innerSlide .bannerText .btnwarpper {
    width: 40%;
    margin-top: 30px;
    margin-left: 0;
  }
  #Banner_section .swiper .swiper-wrapper .swiper-slide .innerSlide .bannerText .btnwarpper button {
    font-size: 24px;
  }
  #Banner_section .swiper .swiper-wrapper .swiper-slide .innerSlide .bannerImage {
    width: 40%;
    height: 100%;
  }
  #Banner_section .swiper .swiper-wrapper .swiper-slide .innerSlide .bannerImage img {
    width: 100%;
    max-width: -moz-max-content;
    max-width: max-content;
    height: 100%;
    -o-object-fit: initial;
       object-fit: initial;
  }
  #buildOverview .partsHeader {
    padding-top: 20px;
  }
  #buildOverview .container .productControler {
    width: 100%;
    margin-top: 50px;
    padding-top: 15px;
    background-color: var(--gray2);
    border-radius: 10px;
  }
  #buildOverview .container .productControler .urlWarpper {
    width: 98%;
    margin: 0 auto;
    display: flex;
    padding-bottom: 10px;
  }
  #buildOverview .container .productControler .urlWarpper .urlbox {
    width: 100%;
    padding: 0px;
    padding-left: 10px;
  }
  #buildOverview .container .productControler .urlWarpper .urlbox input {
    width: 100%;
    padding: 0;
  }
  #buildOverview .container .productControler .urlWarpper .markUpbox {
    width: 100%;
    padding: 0;
    display: flex;
  }
  #buildOverview .container .productControler .urlWarpper .markUpbox .markUpIcon {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  #buildOverview .container .productControler .urlWarpper .markUpbox .markUpIcon span {
    cursor: pointer;
  }
  #buildOverview .container .productControler .urlWarpper .markUpbox .markupBtn {
    width: 50%;
    display: flex;
    gap: 20px;
  }
  #buildOverview .container .tab_Content_Warpper .tab-content {
    display: none;
    padding: 20px;
    width: 100%;
  }
  #buildOverview .container .tab_Content_Warpper .tab-content .cardWarpper {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }
  #buildOverview .container .tab_Content_Warpper .tab-content .cardWarpper .componentCard {
    width: 250px;
    height: 250px;
    border: 1px solid gray;
    background-color: rgba(3, 173, 125, 0.1921568627);
    border-radius: 10px;
    transition: 0.3s all linear;
    cursor: pointer;
  }
  #buildOverview .container .tab_Content_Warpper .tab-content .cardWarpper .componentCard:hover {
    background-color: rgba(5, 255, 184, 0.5215686275);
  }
  #buildOverview .container .tab_Content_Warpper .tab-content.active {
    display: block;
  }
}
@media only screen and (min-width: 1200px) {
  #Banner_section {
    width: 100%;
    height: 100vh;
    font-size: 14px;
    margin: 0;
    padding: 0;
  }
  #Banner_section .swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  #Banner_section .swiper .swiper-wrapper .swiper-slide {
    width: 100%;
    height: 100%;
    padding-top: 100px;
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #Banner_section .swiper .swiper-wrapper .swiper-slide .innerSlide {
    width: 100%;
    height: -moz-max-content;
    height: max-content;
    padding-left: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #Banner_section .swiper .swiper-wrapper .swiper-slide .innerSlide .bannerText {
    width: 60%;
  }
  #Banner_section .swiper .swiper-wrapper .swiper-slide .innerSlide .bannerText h1 {
    font-size: 10.5vw;
    text-align: left;
    line-height: 1;
    text-transform: uppercase;
    color: var(--primary);
    font-family: Bebas Neue;
    max-width: 100%;
    letter-spacing: 5px;
  }
  #Banner_section .swiper .swiper-wrapper .swiper-slide .innerSlide .bannerText h1 span {
    font-family: Bebas Neue;
    color: var(--alabaster);
  }
  #Banner_section .swiper .swiper-wrapper .swiper-slide .innerSlide .bannerText .btnwarpper {
    width: -moz-max-content;
    width: max-content;
    margin-top: 30px;
    width: 100%;
  }
  #Banner_section .swiper .swiper-wrapper .swiper-slide .innerSlide .bannerText .btnwarpper button {
    font-size: 34px;
    width: 100%;
  }
  #Banner_section .swiper .swiper-wrapper .swiper-slide .innerSlide .bannerImage {
    width: 40%;
    height: calc(100% - 50px);
  }
  #Banner_section .swiper .swiper-wrapper .swiper-slide .innerSlide .bannerImage img {
    width: 100%;
    max-width: -moz-max-content;
    max-width: max-content;
    height: 100%;
    -o-object-fit: initial;
       object-fit: initial;
  }
  #buildOverview {
    padding: 50px 0px;
    background-color: var(--gray3);
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    color: var(--alabaster);
  }
  #buildOverview .partsHeader {
    padding-top: 30px;
  }
  #buildOverview .container {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
  }
  #buildOverview .container .productControler {
    width: 100%;
    margin-top: 50px;
    padding-top: 10px;
    background-color: var(--gray2);
    border-radius: 10px;
  }
  #buildOverview .container .productControler .urlWarpper {
    width: 98%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
  }
  #buildOverview .container .productControler .CompitibleNotes .greenSection {
    width: 80%;
    padding: 0;
    padding-top: 5px;
    padding-left: 10px;
  }
  #buildOverview .container .productControler .CompitibleNotes .skySection {
    width: 20%;
    padding: 0;
    padding-top: 5px;
    padding-right: 10px;
  }
}/*# sourceMappingURL=index.css.map */